body{
    margin:0;
    padding:0;
    font-family: 'Happy Monkey', cursive;
    text-align: center;
    background-color:powderblue;
    color:white;
   
    
}

.header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#face {
    border-radius: 50%;
    border: 10px solid pink;
}
h1,h2,h4{
    text-shadow: 0px, 0px, 1px black;
    font-family: inherit;
}

#h2{
 background-color: pink;
 padding:10px 5px;
 border-radius: 10px;
 margin:25px 0 10px 0;
} 
#h4 {
    background-color: pink;
    padding: 10px 6px;
    border-radius: 4px;
    margin:0;
}

.gift{
    margin-top:50px;
    margin-bottom: 50px;
}

.imagen:hover {
    background-image: url(giphy-1.gif);

    
}


.imagen{
    background-image: url(birthday-wrap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 400px;
    border:6px solid white;
    border-radius: 10px;
    margin:auto;
}